# virtual environment (venv/ || .venv/ || env/)
venv/ 
# python cache
__pycache__/
*.py[cod]
*$py.class
*.pytest
# local environments with secrets & settings
.env
.env.*
!.env.example
# IDE settings
.vscode/
*.swp
*.swo
# database
db.sqlite3
db.sqlite3-journal
# static/media
static/
media/
